#select-file {
    visibility: hidden;
}

#schema-name {
    visibility: hidden;
}

#save-schema {
    visibility: hidden;
    margin-left: 15px;
    text-align: right;
    right: 30px;
    float: right;
}

#cancel-schema {
    visibility: hidden;
    margin-left: 15px;
    text-align: right;
    right: 30px;
    float: right;
}

#choose-sensor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top:200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #455a64;
    width: 900px;
    height: 500px;
    z-index: 105;
    box-shadow: 2px 2px 5px #989898;
    visibility: hidden;
}

.choose-sensor-checkbox {
    margin-top: 15px;
    margin-left: 50px;
    display: block;
}

#cancel-sensor {
    position: relative;
    float: right;
    margin-right: 30px;
}

#save-sensor {
    position: relative;
    float: right;
    margin-right: 20px;
}

#schema-container {
    width: 800px;
    height: 600px;
    /*background-color: #2A2C39;*/
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

/*#temp-sensor {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 90px;
    position: absolute;
}*/

#schema-img {
    position: absolute;
}

#no-name-alert {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #455a64;
    width: 600px;
    height: 250px;
    z-index: 105;
    box-shadow: 2px 2px 5px #989898;
    visibility: hidden;
}

#no-name-alert2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 105;
    visibility: hidden;
}

.name-project-header {
    margin-top: 30px;
}

#schema-name2 {
    margin-top: 20px;
    margin-left: 100px;
    width: 400px;
    text-align: center;
}

#no-name-alert-button {
    float: right;
    display: block;
    margin-top: 120px;
    margin-right: 40px;
}

.checkbox-orange[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #ff9800;
    background-color: #ff9800;
    text-align: center;
}

.checkbox-orange {
    border: 2px solid #e0e0e0;
}

[type="checkbox"]:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #e0e0e0;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}

[type="checkbox"]:not(:checked){
    border: 2px solid #e0e0e0;
}

.checkbox-orane[type="checkbox"] + label:before{
    border: 2px solid #e0e0e0;
    background: transparent;
}

.checkbox-orange.filled-in[type="checkbox"] + label:after{
    border: 2px solid #e0e0e0;
    background: transparent;
}

.schema-alert-button {
    bottom: 20px;
    float: bottom;
}

#sensor-details {
    position: absolute;
    margin-top: 300px;
    margin-left: 600px;
    width: 300px;
    height: 190px;
    background-color: #455a64;
    z-index: 104;
    box-shadow: 2px 2px 5px #989898;
    visibility: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}

#no-image-alert {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #455a64;
    width: 500px;
    height: 150px;
    z-index: 105;
    box-shadow: 2px 2px 5px #989898;
    visibility: hidden;
}

#no-image-alert-button {
    float: right;
    display: block;
    margin-top: 20px;
    margin-right: 40px;
}

.collection .collection-item {
    background-color: #455a64;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid orange;
}

.collection a.collection-item:not(.active):hover {
    background-color: #617985;
}

#move-remove {
    visibility: hidden;
}