body {
    background-color: #616161;
}

.nav-menu-logo {
    left: 20px;
}

.nav-menu-left {
    padding-left: 110px;
}

.nav-menu-right {
    padding-right: 20px;
}

.selected {
    background-color: #bf360c;
}

nav ul li:hover {
    background-color: #bf360c;
}

.diagrams-button {
    margin-top: 50px;
    margin-right: 15px;
}

#diagram-will-be-here {
    background-color: #343434;
    font-size: 40px;
    width: 100%;
    height: 400px;
    color: white;
    text-align: center;
    padding-top: 150px;
}

.dropdown-container {
    margin-top: 30px;
    margin-left: 40px;
}

.schema-button {
    padding-left: 15px;
    margin-left: 15px;
}

.schema-button-margin {
    margin-bottom: 15px;
}

.schema-details {
    margin-top: 20px;
}

.humidity-icon {
    background: url("../img/humidity.png") no-repeat;
    margin-top: 6px;
    margin-left: 7px;
    width: 24px;
    height: 24px;
}

.temp-icon {
    background: url("../img/temp.png") no-repeat;
    margin-top: 6px;
    margin-left: 6px;
    width: 24px;
    height: 24px;
}

.mixed-icon {
    background: url("../img/mixed.png") no-repeat;
    margin-top: 7px;
    margin-left: 7px;
    width: 24px;
    height: 24px;
}

.checkbox-orange[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff9800;
    background-color: #ff9800;
    text-align: center;
}

.table-margin {
    margin-top: 30px;
}

.table-head-color {
    background-color: #212121;
}

.table-body-color {
    background-color: #9e9e9e;
}

.striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #bdbdbd;
}

.first-column {
    padding-left: 30px;
}