<!DOCTYPE html>
<!--suppress JSUnresolvedFunction, JSUnresolvedFunction -->
<html ng-app="szop" xmlns:http="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8"/>
    <title>SZOP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-signin-client_id" content="100008317632-rp63ps1kq4jaess9g0u5ltbsm6oh8e2u.apps.googleusercontent.com"/>
    <script src="js/script.js" type="text/javascript"></script>
    <script src="js/diagrams.js" type="text/javascript"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <link href="css/weather.css" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/index.js" type="text/javascript"></script>
    <script src="js/userData.js" type="text/javascript"></script>
    <script src="js/login.js" type="text/javascript"></script>
    <script src="js/weather.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
    <link rel="stylesheet" type="text/css" href="autocomplete/city-autocomplete.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvRIX9aPfDClxt_Q9cZNIcqVDJGY4kXp4&amp;libraries=places&amp;language=en"></script>

</head>
<body>
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="#" class="brand-logo nav-menu-logo">SZOP</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                        class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down nav-menu-left">
                    <li><a href="schema.html">Schema</a></li>
                    <li><a href="diagrams.html">Diagrams</a></li>
                    <li><a href="sensors.html">Sensors</a></li>
                    <li><a href="alerts.html">Alerts</a></li>
                </ul>
                <ul class="right hide-on-med-and-down nav-menu-right">
                    <li id="profile-pic" style="float: left;  width: 75px;"></li>
                    <li id="name" style="float: left;  width: 150px;"></li>
                    <li id="logout-butt" onclick = "logoutFunction()" style="float: left;  width: 100px; cursor: pointer;"></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="schema.html">Schema</a></li>
                    <li><a href="diagrams.html">Diagrams</a></li>
                    <li><a href="sensors.html">Sensors</a></li>
                    <li><a href="alerts.html">Alerts</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <main>
        <div class="container">
            <div id="listOfCities">
                <h1>You can compare weather in your flat</h1><h1> with any city around whole world you like!</h1>
                <h2>Just type name of city below:</h2>
                <input id="city" name="city" autocomplete="off" data-country="us"/>
                <p>or</p>
                <button class="js-geolocation" onclick="geolocationYourCity()">Use Your Location</button>
                <script src="autocomplete/jquery.city-autocomplete.js" type="text/javascript"></script>
                <script>
                    loadWeather('Warsaw, PL');
                    $(document).ready(function () {
                        $('input#city').cityAutocomplete();

                        const input = $('input#city');
                        input.on('select', function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                            //console.log("You selected: " + e.target.value);
                            var actualWeatherLocation = document.getElementById("weatherCity").textContent.split(", ");
                            if(actualWeatherLocation[0] != e.target.value){
                                //console.log("Actual location: " + actualWeatherLocation[0]);
                                loadWeather(e.target.value);
                            }
                         })
                    });
                </script>

            </div>
            <div id="weather">Weather loading...</div>
            <div ng-controller="temp" class="white-text" style="font-size: 40px; text-align: center; padding-top: 20px;" >
                <p>Temperature: {{temp.content}}</p>
            </div>
        </div>
        <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async="async" defer="defer"></script>
    </main>
</header>
</body>
</html>