<!DOCTYPE html>
<html ng-app="szop">
<head>
    <meta charset="UTF-8"/>
    <title>SZOP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-signin-client_id" content="100008317632-rp63ps1kq4jaess9g0u5ltbsm6oh8e2u.apps.googleusercontent.com"/>
    <script src="js/script.js" type="text/javascript"></script>
    <script src="js/diagrams.js" type="text/javascript"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/login.js"></script>
</head>
<body>
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="#" class="brand-logo nav-menu-logo">SZOP</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                        class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down nav-menu-left">
                    <li><a href="schema.html">Schema</a></li>
                    <li><a href="diagrams.html">Diagrams</a></li>
                    <li><a href="sensors.html">Sensors</a></li>
                    <li><a href="alerts.html">Alerts</a></li>
                </ul>
                <ul class="right hide-on-med-and-down nav-menu-right">
                    <li>
                        <div id="profile-pic" style="float: left;  width: 75px;"></div>
                        <div id="name"  style="float: left; width: 150px;"></div>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="schema.html">Schema</a></li>
                    <li><a href="diagrams.html">Diagrams</a></li>
                    <li><a href="sensors.html">Sensors</a></li>
                    <li><a href="alerts.html">Alerts</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <main>
        <div class="container">
            <div ng-controller="temp" class="white-text" style="font-size: 40px; text-align: center; padding-top: 20px;" >
                <p>Temperature: {{temp.content}}</p>
            </div>
        </div>
        <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async="async" defer="defer"></script>
        <script type="text/javascript">
            var auth2;

            window.onLoadCallback = function() {
                console.log("im in java");
                function indexInitClient() {
                    console.log("im in init client");
                    gapi.load('auth2', function () {
                        auth2 = gapi.auth2.init({
                            clientId: '100008317632-rp63ps1kq4jaess9g0u5ltbsm6oh8e2u.apps.googleusercontent.com',
                            fetch_basic_profile: true,
                            scope: 'profile'
                        }).then(function () {
                            // Handle the initial sign-in state.
                            console.log("im in client");
                            upSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
                        });
                    });
                }


                function upSigninStatus(isSignedIn) {
                    console.log("im in");
                    if (isSignedIn) {
                        console.log("You re signed in");
                        auth2 = gapi.auth2.init({
                            client_id: '100008317632-rp63ps1kq4jaess9g0u5ltbsm6oh8e2u.apps.googleusercontent.com',
                            fetch_basic_profile: true,
                            scope: 'profile'
                        });

                        gapi.load('auth2', function () {
                            console.log(auth2.currentUser);
                            var profile = auth2.currentUser.get().getBasicProfile();
                            console.log("Profile: " + profile);
                            var image = document.createElement("img");
                            image.src = profile.getImageUrl();
                            image.setAttribute("height", "50px");
                            image.setAttribute("width", "50px");
                            image.setAttribute("border-radius", "5px 10px 15px 20px");
                            image.setAttribute("alt", "profile-pic");
                            document.getElementById("profile-pic").appendChild(image);

                            document.getElementById("name").innerHTML = profile.getName();
                        });
                    }
                    else {
                        console.log("User isn't signed in");
                        location.href = "login.html";
                    }
                }

                indexInitClient();
            }
        </script>
    </main>
</header>
</body>
</html>